h1 {
  font-size: 2rem;
  text-align: center;
}

.quote {
    width: 30%;
}

.quote-title {
    font-size: 1.4rem;
}

.quote-content {
    font-size: 1.1rem;
}

.quote-source {
    font-style: italic;
}
